// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$arrow-btn-background: rgb(0, 0, 0);
$arrow-btn-hover-background: rgb(40, 40, 40);
$menu-background: rgb(255, 255, 255);
$menu-dark-background: rgba(0, 0, 0, 0.6);
$menu-item-hover-underline: rgb(255, 255, 255);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(161, 161, 161);
$word-color-3: rgb(0, 0, 0);